<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->

<head>

	{% include 'partials/head.twig' %}

	{{ function('wp_head') }}

	{% block custom_head %}{% endblock %}

</head>

	<body class="{{ body_class }}{% block custom_body_class %}{% endblock %}">
	
		<div id="wrapper">
			
			{% block header %}
				{% include 'partials/header.twig' %}
			{% endblock %}

			{% block content %}
				No content here
			{% endblock %}

			{% block footer %}
				{% include 'partials/footer.twig' %}
			{% endblock %}

		</div>

		{{ function('wp_footer') }}

	</body>

</html>
